*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.game {
  position: relative;
  top: 20%;
  width: 100%;
  height: 20rem;
  border-bottom: .2rem solid lightgray;
}

.dino {
  position: absolute;
  left: 5rem;
  width: 2rem;
  height: 5rem;
  background-color: red;
  bottom: 0;
}

.animate-jump {
  animation: jump 800ms linear;
}

.captus {
  position: absolute;
  width: 2rem;
  height: 4rem;
  background-color: green;
  bottom: 0;
  right: 0;
  animation: captus 2s infinite linear;
}

@keyframes jump {
  0%{top: 15rem;}
  30%{top: 10rem;}
  70%{top: 10rem;}
  100%{top: 15rem;}
}

@keyframes captus {
  0%{left: 100vw;}
  100%{left: -4rem;}
}
